*{
	margin: 0px 0px 0px 0px;
}

@Font-face{
    src: url("/fonts/Quintessential.woff") format("woff"), url("/fonts/Quintessential.ttf") format("truetype");
	font-family: "Quintessential";
    font-style: normal;
    font-weight: normal;
}

body{
	background-color: #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 0px 0px 0px 0px;
}

.header-logo{
	border: groove;
	border-left: none;
	border-right: none;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-image: url(Img/Backgrounds/Background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 2px 0px 48px 4px rgba(38,26,1,0.86);
}

	.header-logo div img{
		/*float: none;*/
		justify-content: center;
		margin: 10px 10px 10px 10px;
		padding: 0px 5px 0px 5px;
	}
	
	.header-logo div h1{
		margin: 0px 0px 0px 0px;
		padding: 20px 0px 20px 0px;
		font-family: 'Quintessential';
		font-size: 30px;
		letter-spacing: 2.5px;
		/*text-align: center;*/
	}

		.header-logo div h1 span{
			font-style: italic;
		}

.Menú{
	border: groove;
	border-left: none;
	border-right: none;
	display: flex;
	width: 100%;
	margin: auto;
}

	.Menú nav{
		background: #000000;
		margin: 0px 0px 0px 0px;
		width: 100%;
	}

		.Menú nav ul{
			overflow: hidden;
			list-style: none;
			display: flex;
			justify-content: center;
		}
	
			.Menú nav ul li{
				float: none;
				padding: 10px 25px 10px 30px;
			}
			
				.Menú nav ul li a{
					display: block;
					padding: 2px;
					color: #fff;
					text-decoration: none;
					font-size: 15px;
					font-family: Helvetica;
				}

.ContenidoDelSitio{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #fff;
	position: relative;
	box-shadow: inset 2px 0px 48px 4px rgba(38,26,1,0.86);
}
.in_Row{
	display: flex;
	flex-direction: row;
}

.in_Column{
	display: flex;
	flex-direction: column;
}

.Fuentes-Títulos{
	font-family: 'Trebuchet', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
}
p{
	font-family: Verdana, sans-serif;
}

	.Sección_1{
		padding: 2em 0em;
		margin: 0% 20% 0% 20%;	
		width: auto;
	}
		.Sección_1-Título{
			text-align: center;
			padding: 3% 2%;
		}
			.Sección_1-Título h1{

			}
		.Sección_1-Información{
			display: flex;
			flex-direction: row;
		}
			.Sección_1-CartasDeInformación{
				border: groove;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 0;
				padding: 1em 1.45em 1em 1.45em;
			}
				.Sección_1-CartasDeInformación-Foto{
					text-align: center;
				}
				.Sección_1-CartasDeInformación-Nombre{
					text-align: center;
					padding: 6% 0%;
				}
				 	.Sección_1-CartasDeInformación-Nombre h4{
						font-family: 'Trebuchet',  sans-serif;
						font-weight: 730;
					 }
				.Sección_1-CartasDeInformación-Detalles{
					justify-content: center;
					text-align: justify;
				}

	.Sección_2{
		padding: 2em 0em;
		margin: 0% 20% 0% 20%;	
		width: auto;
	}
		.Sección_2-Historia{
			width: auto;
			line-height: 1.6em;
		}
			.Sección_2-Historia-Título{
				margin: 4% 0% 0% 0%;
				padding: 1% 0%;
				text-align: left;
				display: block;
			}
			.Sección_2-Historia-Texto{
				margin: 0% 0% 1% 0%;
				text-align: justify;
			}
				.Sección_2-Historia-Texto p{
					padding: 1%;
				}
			.Sección_2-Historia-Imagen{

			}
				.Sección_2-Historia-Imagen img{
					width: 800px;
					height: 220px;
				}

		.Perú{
			padding: 0 20%;
			text-align: center;
		}
.Sección_Footer_0{
	display: block;
	color: #fff;
	background-color: black;

}
	.Footer_Top{	
		margin: 0% 20% 0% 20%;	
		padding: 5% 0% 1% 0%;
		line-height: 1.5em;
	}
		.Footer_Top div{	
			padding: 0em 1em;
			line-height: 1.5em;
		}
			.Footer_Top div h1{	
				vertical-align: middle;
				text-align: center;
			}
		.row{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
		.RedesSociales{
			display: flex;
			justify-content: space-between;
		}
			.RedesSociales a img{
				padding: 2em 0.5em 2em 0.5em;
			}